@import 'base';
@import 'skeleton';
@import 'pygments';
@import 'animation';

// Mobile-Friendly stuff
h2#tagline, h2#main_tagline {
	display: none;
	font-family: 'proxima-nova';
	font-weight: bold;
	font-size: 36px;
	line-height: 40px;
	text-align: center;
	color: #3c4146;

	@media only screen and (max-width: 767px) {
		display: block;
	}

	@media only screen and (max-width: 479px) {
		font-size: 30px;
		line-height: 34px;
	}
}
h2#main_tagline {
  display: block;
  margin-bottom: 50px;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}
#notifications_container {
	display: block;

	@media only screen and (max-width: 767px) {
		display: none;
	}
}

img.large {
	display: block;

	@media only screen and (max-width: 767px) {
		display: none;
	}
}
img.small {
	display: none;

	@media only screen and (max-width: 767px) {
		display: block;
		margin-bottom: 20px;
	}
}
// End mobile stuff

#navigation {
	nav {
		margin: 0 auto 30px;
		text-align: center;
		font-family: 'proxima-nova', HelveticaNeue, "Helvetica Neue", Arial, sans-serif;
		font-size: 13px;
		font-weight:  bold;
		border: 1px dashed #c3c8cc;
		padding: 18px 6px 17px 13px;
		width: 441px;
		border-radius: 4px;

		span {
			color: #babfc7;
			margin-right: 8px;
		}

		a {
			background-color: #fff;
			color: #babfc7;
			margin-right: 7px;
			padding: 3px 8px;
			border-radius: 4px;
			-moz-transition: background-color .2s, color .2s;
	    -webkit-transition: background-color .2s, color .2s;
	    -o-transition: background-color .2s, color .2s;
	    transition: background-color .2s, color .2s;

			&:hover, &.selected {
				background-color: #5799d6;
				color: #fff;
			}
		}
	}
}

// For future app implementation
#notifications_container {
	#notifications {
		height: 300px;
		position: relative;
		overflow: hidden;
		margin: 0 auto;
		width: 508px;

		div.notification {
			background-color: #fff; /* TODO */
			border-radius: 4px;
			font-family: HelveticaNeue, "Helvetica Neue", Arial, sans-serif;
			padding: 22px 80px 20px 76px;
			position: absolute;
			width: 352px;

			div.icon {
				height: 40px;
				width: 40px;
				position: absolute;
				top: 22px;
				left: 23px;
				border-radius: 4px;
				background-size: 32px 32px;
				background-position: 4px 4px;
				background-repeat: no-repeat;

				&.aws {
					background-color: #FF9900;
					background-image: url('/images/icons/aws-32.png');
				}
				&.bitbucket {
					background-color: #205081;
					background-image: url('/images/icons/bitbucket-32.png');
				}
				&.campaignmonitor {
					background-color: #19A9E5;
					background-image: url('/images/icons/campaignmonitor-32.png');
				}
				&.disqus {
					background-color: #2E9FFF;
					background-image: url('/images/icons/disqus-32.png');
				}
				&.dribbble {
					background-color: #EA4C89;
					background-image: url('/images/icons/dribbble-32.png');
				}
				&.dropbox {
					background-color: #2281CF;
					background-image: url('/images/icons/dropbox-32.png');
				}
				&.evernote {
					background-color: #7AC142;
					background-image: url('/images/icons/evernote-32.png');
				}
				&.facebook {
					background-color: #3B5998;
					background-image: url('/images/icons/facebook-32.png');
				}
				&.flattr {
					background-color: #F67C1A;
					background-image: url('/images/icons/flattr-32.png');
				}
				&.github {
					background-color: #4183C4;
					background-image: url('/images/icons/github-32.png');
				}
				&.heroku {
					background-color: #6762A6;
					background-image: url('/images/icons/heroku-32.png');
				}
				&.kickstarter {
					background-color: #87C442;
					background-image: url('/images/icons/kickstarter-32.png');
				}
				&.klout {
					background-color: #E24A25;
					background-image: url('/images/icons/klout-32.png');
				}
				&.layervault {
					background-color: #26AE90;
					background-image: url('/images/icons/layervault-32.png');
				}
				&.linkedin {
					background-color: #007FB1;
					background-image: url('/images/icons/linkedin-32.png');
				}
				&.quora {
					background-color: #A82400;
					background-image: url('/images/icons/quora-32.png');
				}
				&.skype {
					background-color: #00AFF0;
					background-image: url('/images/icons/skype-32.png');
				}
				&.slideshare {
					background-color: #009999;
					background-image: url('/images/icons/slideshare-32.png');
				}
				&.spotify {
					background-color: #80B719;
					background-image: url('/images/icons/spotify-32.png');
				}
				&.stackexchange {
					background-color: #1F5196;
					background-image: url('/images/icons/stackexchange-32.png');
				}
				&.stripe {
					background-color: #008cdd;
					background-image: url('/images/icons/stripe-32.png');
				}
				&.twitter {
					background-color: #39A9E0;
					background-image: url('/images/icons/twitter-32.png');
				}
				&.vimeo {
					background-color: #44BBFF;
					background-image: url('/images/icons/vimeo-32.png');
				}
				&.youtube {
					background-color: #CD332D;
					background-image: url('/images/icons/youtube-32.png');
				}

				@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
					&.aws {
						background-image: url('/images/icons/aws-64.png');
					}
					&.bitbucket {
						background-image: url('/images/icons/bitbucket-64.png');
					}
					&.campaignmonitor {
						background-image: url('/images/icons/campaignmonitor-64.png');
					}
					&.disqus {
						background-image: url('/images/icons/disqus-64.png');
					}
					&.dribbble {
						background-image: url('/images/icons/dribbble-64.png');
					}
					&.dropbox {
						background-image: url('/images/icons/dropbox-64.png');
					}
					&.evernote {
						background-image: url('/images/icons/evernote-64.png');
					}
					&.facebook {
						background-image: url('/images/icons/facebook-64.png');
					}
					&.flattr {
						background-image: url('/images/icons/flattr-64.png');
					}
					&.github {
						background-image: url('/images/icons/github-64.png');
					}
					&.heroku {
						background-image: url('/images/icons/heroku-64.png');
					}
					&.kickstarter {
						background-image: url('/images/icons/kickstarter-64.png');
					}
					&.klout {
						background-image: url('/images/icons/klout-64.png');
					}
					&.layervault {
						background-image: url('/images/icons/layervault-64.png');
					}
					&.linkedin {
						background-image: url('/images/icons/linkedin-64.png');
					}
					&.quora {
						background-image: url('/images/icons/quora-64.png');
					}
					&.skype {
						background-image: url('/images/icons/skype-64.png');
					}
					&.slideshare {
						background-image: url('/images/icons/slideshare-64.png');
					}
					&.spotify {
						background-image: url('/images/icons/spotify-64.png');
					}
					&.stackexchange {
						background-image: url('/images/icons/stackexchange-64.png');
					}
					&.stripe {
						background-image: url('/images/icons/stripe-64.png');
					}
					&.twitter {
						background-image: url('/images/icons/twitter-64.png');
					}
					&.vimeo {
						background-image: url('/images/icons/vimeo-64.png');
					}
					&.youtube {
						background-image: url('/images/icons/youtube-64.png');
					}
				}
			}

			div.source {
				color: #32353a;
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 4px;

				span.timestamp {
					font-size: 12px;
					font-weight: normal;
					color: #b1b5bd;
					padding-left: 12px;
				}
			}

			div.text {
				color: #6c7079;
				font-size: 14px;
				line-height: 22px;

				a {
					color: #5799d6;
					font-style: italic;
				}
			}
		}
	}
}

// Universal
footer {
	color: #656771;
	font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
}

// Links
a {
	color: #5799d6;
	text-decoration: none;
}

// Forms
form {
	margin: 30px 0 30px;
	text-align: center;

	.nudge {
		font-size: 13px;
		font-family: 'proxima-nova', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #8C8E94;
		margin-top: 10px;
	}

	input {
		display: inline !important;

		&[type="submit"] {
			margin-left: 10px;

			@media only screen and (max-width: 480px) {
				margin-left: 0px;
				margin-top: 10px;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		margin: 50px 0px 0px !important;
	}

	&#subFormTwo {
		margin: 50px 0 80px;

		@media only screen and (max-width: 767px) {
			margin: 50px 0px 60px !important;
		}
	}
}

input {
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none; /* Fix iOS styling */
}

/* Placeholder styling */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #a3a7ac;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a3a7ac;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a3a7ac;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #a3a7ac;
}

input[type="text"] {
	background-color: #e8eaed;
	border: 2px solid #c3c8cc;
	border-radius: 4px;
	font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	outline: none;
	padding: 13px 16px;

	&:focus {
		border-color: #a3a6aa;
		border-radius: 4px;
		color: #61666b;
	}

	&.invalid {
		border-color: #e96565;
		color: #e96565;
	}

	&.valid {
		border-color: #54bd9c;
		color: #51ae91;
	}
}

input[type="submit"], input[type="button"] {
	color: #FFF;
	cursor: pointer;
	background-color: #54bd9c;
	border: 0px;
	border-radius: 4px;
	font-family: 'proxima-nova', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 47px;
	outline: none;
	padding: 7px 12px;
	-webkit-font-smoothing: antialiased;
	vertical-align: top;
	margin-top: 2px;

	&:active {
		background-color: #51ae91;
	}
}




// Home Page
.queued_notification {
	display: none;
}

body#home {
	background-color: #e8eaed;

	header {
		text-align: center;

		#logo {
			margin: 40px 0;
		}
	}

	.benefit {
		margin-top: 100px;

		h2 {
			color: #3c4146;
			font-family: 'proxima-nova', HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 20px;
			font-weight: bold;
			line-height: 30px;
		}

		p, ul {
			color: #6c7079;
			font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 16px;
			font-weight: normal;
			line-height: 32px;
			margin-top: 4px;
		}

		ul {
			list-style-type: square;

			li {
				margin-left: 20px;
			}
		}
	}
}

// Blog Posts
body#blog {
	header {
		background-color: #fff;
		border-bottom: 1px solid #eee;
		height: 87px;
		position: fixed;

		#logo {
			position: absolute;
			top: 30px;
			left: 20px;
		}
		#social {
			 position: absolute;
			 top: 33px;
			 right: 20px;
			opacity: 0;
		}
	}

	article#blog_post {
		color: #656771;
		font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 19px;
		font-weight: normal;
		line-height: 32px;
		margin-top: 140px;

		@media only screen and (max-width: 767px) {
			margin-bottom: 60px;
		}

		.columns { margin-left: 0px; margin-right: 0px;}

		h1, h2, h3 {
			color: #35363B;
			font-weight: bold;
		}

		h1 {
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 15px;
		}
		h1:first-child + img {
			border-radius: 4px;
			margin-bottom: 30px;
		}

		h2, h3 {
			margin: 50px 0 10px;
		}

		h2 {
			font-size: 22px;
			line-height: 30px;
		}

		h3 {
			font-size: 18px;
			line-height: 28px;
		}

		p, ol, ul, pre, img {
			margin-bottom: 20px;
		}

		ol {
	    list-style-position:inside;
			list-style-type: decimal;
			margin-left: 33px;
		}
		ul {
			list-style-type: square;
			margin-left: 33px;
		}

		pre, code {
			font-family: Menlo, Monaco, fixed;
			font-size: 13px;
			line-height: 20px;
		}
		pre {
			background-color: #252e34;
			border-radius: 4px;
			color: #fff;
			padding: 30px;

			/* Word Wrapping */
		  white-space: pre-wrap;       /* css-3 */
		  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		  white-space: -pre-wrap;      /* Opera 4-6 */
		  white-space: -o-pre-wrap;    /* Opera 7 */
			white-space: -hp-pre-wrap;  /* HP Printers */
		  word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
		code {

		}
	}

	#beta_signup_form {
		margin: 60px 0 120px;
		text-align: center;

		h1 {
			color: #696e72;
			font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 17px;
			line-height: 22px;
			margin-bottom: 20px;
		}

		form {
			background-color: #d4d9dc;
			border-radius: 4px;
			margin: 0px !important;
			padding: 40px 0 50px;
		}
	}
}
